body{
    margin: 0;
    padding: 0;
    font-family: "helvetica", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}

#mainHead{
    margin: 40px 40px 0px 40px;
    text-align: center;
}
#header{
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}
#menu{
    /*max-width: 1024px;*/
    margin: 0 auto;
}
#mainImage{
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

#m_btn{
    display: none;
}

#footer {
    background: #eee;
    border-top: 1px solid #ddd;
    width: 100%;
    clear: both;
    float: left;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    color: #666;
}
#footer .ui.list .item {
    display: -webkit-box;
}

#footer a {
    text-decoration: none;
    color: #666;
}

#footer a:hover{
    color: orange;
}

#footer p{
    line-height: 180%;
}

/*HomePage*/
#content {
    padding:20px;
}
#homethree .column {
    text-align: center;
}

#homethree p {
    line-height: 180%;
    color: #666;
}

#homethree img{
    margin: 0 auto;
}

#homethree .ui.reveal{
    display: inline-block;
}

#center {
    margin-top: 20px;
    margin: 0 auto;
}
@media all and (max-width: 630px){
    #menu{
        display: none;
    }
    #m_btn{
        display: inline-block;        
    }
       #mainHead .ui.icon.header.huge {
       display: none;
    }
}

@media all and (min-width: 631px){
   html body.pushable{
       margin-left: 0 !important;
   } 
   #mainHead h2 {
       display: none;
   }
   /*#m_sidebar.uncover.visible{
       display: none;
   } */
}

@media all and (min-width: 900px){
    #mainHead .header {
      margin-top: 10%;  
    }
}

@media all and (max-width: 730px) {
    #mainHead .ui.header.huge {
        font-size: 1.7em;
    }
}